.navlogo {
  border: 1px solid #f2d5d6;
  color: #d91366;
  border-radius: 15px;
}

.navbarcontainer {
  display: flex;
  justify-content: space-between;
}

.navcontainer {
  margin-bottom: 15px;
}
.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlink {
  float: left;
  padding: 15px;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link:hover {
  background-color: #d91366;
}
